$color-green: #33851e;
$color-gray: #B0B0B0FF;
$color-red: #f62305;
$color-gold: #f8ac55;
$color-white: #fff;
$color-black: #000000;
$color-blue: #5563F5FF;
$color-background: #EEEFFEFF;

$size-space-xxs: 4px;
$size-space-xs: 8px;
$size-space-s: 12px;
$size-space-m: 16px;
$size-space-l: 24px;
$size-space-xl: 36px;

$size-border-weight: 1px;
$size-border-radius-m: 6px;
$size-border-radius-l: 16px;
$size-border-radius-xl: 24px;

$size-font-s: 12px;
$size-font-m: 16px;
$size-font-l: 24px;

$weight-font-normal: 400;
$weight-font-bold: 600;
